.DS_Store
__pycache__/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/

# next.js
.next/
/out/

# production
build/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
.venv
# vercel
.vercel
# Ignore T-drive 2008 logs directory (use forward slashes and escape spaces)
/predict-model-with-taxi/T-drive\ Taxi\ Trajectories/release/taxi_log_2008_by_id/
# typescript
*.tsbuildinfo
next-env.d.ts

.vscode

*.log

highD-dataset-v1.0/
random_generated.txt
